/* .badge badge-white{
    background-color: white;

} */
.my-1{
    color:#005F99;
  }
 .pad{
    margin-top: 20px;
  }
  /* .btn-sm  {
    opacity: 0.4;
    color: aliceblue; 
    pointer-events: none;
  } */
  
.bleue{background-color:#CCF2F4  
  ;}
.jaune{background-color:#FFFEA9   
  ;}
.move{background-color:#F6C6EA   
  ;}  
.rouge{background-color:#FFBCBC   
  ;}
.gris{background-color:#E5DCC3   
  ; }